
.price-list{
  background-image:linear-gradient(rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("https://cdn.pixabay.com/photo/2017/05/09/15/17/money-2298511_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
}
.return-main {
  position: fixed;
  top: 3vh;
  left: 2vw;
}
.return-main a{
  color: white;
}
