body{
  font-family: "Montserrat-Black";
}
/* h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Black";
} */

h5{
  color:black;
  margin: 2% auto;
}
/* TITLE section */

#title{
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(6,6,6,1) 1%, rgba(241,241,241,1) 18%);

}
.titleH1-heading{
  font-size: 3rem;
  line-height: 1,5;
}
.fa-paint-roller{
  margin-right: 1vw;
}

.navbar{
  padding-left: 2%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 1vw;
}
.container-fluid-first{
  height: 110%;
  padding: 12% 10%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url("https://cdn.pixabay.com/photo/2018/01/23/20/24/housebuilding-3102324_960_720.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom;
  background-attachment:fixed;
  color: white;

}
.about-us{
  line-height: 2.5;
  font-size: 1.5rem;
}
.container-fluid-first a{
  text-decoration: none;
  color: white;

}
.container-fluid-first a:hover{
  color: black;
}

.borBud-span{
  text-align:justify;
}
.fb-button, .pic-button{
  margin-top: 10vh;
}

.fb-button{
  margin-right: 10vw;
  text-decoration: none;

}

.fb-button:hover{
  background-color: silver;
  border: solid 2px black;
  transform: scale(1.5);
  transition: all 2s ease;
}
.pic-button:hover{
  background-color: silver;
  transform: scale(1.5);
  transition: all 2s ease;
}

/* cursor */
.spnCursor{
     opacity: 0;
     transition: .2s;
 }

 .spnCursor.active{
     opacity: 1;
 }


/* Features */
#features{
  text-align: justify;
  line-height: 1.5;
  color: white;
  background:  linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(16,165,237,1) 18%, rgba(6,6,6,1) 78%);
  cursor:grabbing;
  padding: 3% 5%;
}
.featureH3-heading{
  text-align: center;
}

.fas-feature{
  margin-right: 1vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.featureH3-heading:hover{
  color: silver;
  transform: scale(1.5);
}
.feature-box{
  padding-right: 5%;
  padding-bottom : 3%;
}


/* Picture section:   ; */



#picture{
  padding: 7% 15%;
  text-align: center;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(6,6,6,1) 1%, rgba(241,241,241,1) 68%);

}

.pictureH2-heading{
  font-size: 3rem;
  margin:  auto;
  color: silver;
}

.carousel-item{
  padding: 7% 10%;
}
.carousel-control-prev-icon, .carousel-control-next{
  filter:invert(100%);
}

.carousel-indicators{
  filter: invert(100%);
}


/* Contact row justify-content-between*/


#contact{
  background:  linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(16,165,237,1) 8%, rgba(6,6,6,1) 38%);
  padding: 2% 3%;
  text-align: center;
  color: white;
  height: 100%;
}
